@import "tailwindcss";
@plugin "@toolwind/corner-shape";
@source "../**/*.{ts,tsx}";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-gehaks: var(--font-gehaks-sans);
}

@layer base {
  body {
    @apply bg-black text-[#dadade];
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility text-trim {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}
