@import "tailwindcss";
@source "../**/*.{ts,tsx}";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@layer base {
  body {
    @apply bg-black text-[#dadade];
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
